VIRTUAL_ENVIRONMENT_FAILURE=1

NODE_TEMPLATES_PATH=/path/to/dcc_v2.0.0_data/node_templates
DCC_OBS_PATH=/path/to/dcc_v2.0.0_data/obs_data
DCC_RCT_PATH=/path/to/dcc_v2.0.0_data/rct_data
NODE_OUTPUT_PATH=/path/to/cdm_testing/node_output

