# Credentials
credentials_*.json

# Trash
.DS_Store

# IDE
.vscode/

# Virtual environments
venv/

# Python
__pycache__/

# Configuration files
nextflow.config

# Log files
*.log
nextflow/.nextflow.log.*
nextflow/.nextflow/

# Profiling files
ardac_etl_timeline.html
trace-*-*.txt
